# Mozart REST API URLs for each cluster
MOZART_REST_URL:
  # cluster1
  {{ CLUSTER1 }}: {{ CLUSTER1_MOZART_URL }}
  # cluster2
  {{ CLUSTER2 }}: {{ CLUSTER2_MOZART_URL }}
  # e.g. grfn: https://127.0.0.1/mozart/api/v0.1

# backoff settings
BACKOFF_MAX_VALUE: 64
BACKOFF_MAX_TRIES: 10
