# slack bot token
BOT_TOKEN: {{ SLACK_BOT_TOKEN }}

# slack bot ID
BOT_ID: {{ BOT_ID }}

# Mozart ES URLs for each cluster
MOZART_ES_URL:
  # cluster1
  {{ CLUSTER1 }}: {{ CLUSTER1_MOZART_ES_URL }}
  # cluster2
  {{ CLUSTER2 }}: {{ CLUSTER2_MOZART_ES_URL }}
  # e.g. grfn: https://127.0.0.1:9200

# backoff settings
BACKOFF_MAX_VALUE: 64
BACKOFF_MAX_TRIES: 10
